[v-cloak] {
  display: none;
}

.one-line-block {
  display: flex;
}

.no-flex-wrap {
  flex-wrap: nowrap !important;
}

.one-line-block-center {
  display: flex;
  align-items: center;
}

.one-line-block-top {
  display: flex;
  align-items: start;
}

.v-dialog.centered-dialog {
  background: white;
  box-shadow: none;
  border-radius: 6px;
  width: auto;
  color: rgb(2, 0, 50);
}

.v-list > div .v-list__tile__action__hover {
  display: none;
  min-width: 44px;
}

.v-list > div:hover .v-list__tile__action__hover {
  display: flex;
}

.v-timeline div.v-timeline-item .v-timeline__action__hover {
  display: none;
}

.v-timeline div.v-timeline-item:hover .v-timeline__action__hover {
  display: flex;
}

html {
  overflow-y: scroll !important;
}

.v-menu__content::-webkit-scrollbar {
  background: white;
  height: 8px;
  width: 8px;
}

.v-menu__content::-webkit-scrollbar-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ddd;
}

.v-list__tile__small .v-list__tile.v-list__tile--link {
  height: 30px;
}

.v-footer {
  min-height: 32px !important;
}

.additional-to-label {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 8px;
}

.conf-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid lightgrey;
  position: absolute;
}

.v-stepper--vertical .v-stepper__content {
  padding-top: 0;
  padding-bottom: 0;
}

.v-list--three-line .v-list__tile {
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table.v-table thead td:not(:nth-child(1)),
table.v-table tbody td:not(:nth-child(1)),
table.v-table thead th:not(:nth-child(1)),
table.v-table tbody th:not(:nth-child(1)),
table.v-table thead td:first-child,
table.v-table tbody td:first-child,
table.v-table thead th:first-child,
table.v-table tbody th:first-child {
  padding: 0 14px;
}

table.v-table thead tr,
table.v-table tfoot tr {
  height: 36px;
}

table.v-table tbody td,
table.v-table tbody th {
  height: 36px;
}

table.v-table tfoot tr td {
  padding: 0 14px;
}

.auto {
  margin: auto;
}

.v-input--selection-controls .v-input__control {
  flex-grow: 0;
  width: 100%;
}

.v-list--three-line .v-list__tile {
  height: auto;
  padding-top: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
}

.half-transparent {
  background: rgba(250, 250, 250, 0.85) !important;
}

.height-100 {
  height: 100%;
}

.main-image {
  /*background: url("/static/img/fire.jpg") no-repeat fixed center;
  background-size: cover;*/
}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
